<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/school.css">

<!-- PWA -->
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#2563eb">

<!-- IMPORTANT (you are missing these) -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!-- ICON -->
<link rel="apple-touch-icon" sizes="192x192" href="/img/icon-192.png">

</head>
<body>

<h2>Edit Student</h2>

<form method="post" action="/teacher/update-student">

    <input type="hidden" name="id" th:value="${student.id}"/>

    Name:
    <input name="name" th:value="${student.name}"><br><br>

    Phone:
    <input name="phone" th:value="${student.phone}"><br><br>

    Father Name:
    <input name="fatherName" th:value="${student.fatherName}"><br><br>

    Aadhar:
    <input name="aadhar" th:value="${student.aadhar}"><br><br>

    <button type="submit">Update</button>
</form>

<div style="margin-top:18px;">
    <a href="/teacher/students" class="btn btn-secondary">← Back to Students</a>
</div>


</body>
</html>
