<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Class</title>
</head>
<body>

<h2>Select Class & Section</h2>

<form action="/teacher/view-students" method="get">

    <select name="className" required>
        <option value="">-- Select Class --</option>

        <option th:each="sec : ${sections}"
                th:value="${sec[0]}"
                th:text="'Class ' + ${sec[0]}">
        </option>

    </select>

    <select name="section" required>
        <option value="">-- Select Section --</option>

        <option th:each="sec : ${sections}"
                th:value="${sec[1]}"
                th:text="'Section ' + ${sec[1]}">
        </option>

    </select>

    <br><br>
    <button type="submit">View Students</button>

</form>

</body>
</html>
